---
date: "2020-05-05T21:48:51-07:00"
title: Cesar Hinojo Hinojo
---

<script src="/rmarkdown-libs/header-attrs/header-attrs.js"></script>


<p>Welcome to my website. Here you can find about the things I do, especially my research on discovering how plants and ecosystem function. Also I have here a blog where I will be posting brief courses, tutorials, resources about software libre and topics about alternative life.</p>
