---
date: "2020-06-28T04:29:00"
title: About me
---

<script src="/rmarkdown-libs/header-attrs/header-attrs.js"></script>


<p><img src="../images/me_small.jpg" style="width:30.0%" /></p>
<p>I am a Mexican early-career researcher focusing on studying plant form and function, from single leaves to the whole world and in between. I use an integrative perspective combining remote sensing, plant ecophysiology and trait-based ecology, leveraging large datasets with mechanistic models/theory. My research started focusing on Sonoran Desert ecosystems, but I have expanded my work to other biomes from America, such as the boreal forests, mediterranean grasslands and shrublands, mountain and temperate forests and meadows, and tropical forests, and learning from the biomes at other regions of the world. I am currently very interested in finding patterns and mechanisms that work across biomes, to help develop a more unifying ecology and earth system science. I am also very interested in exploring alternative ways to science outreach.</p>
<p>Besides science, I am passionate about native plants and resources from the Sonoran Desert, playing music, free software and computing, simple/natural ways of living, fantasy, and several other things, in no particular order.</p>
