---
date: "2020-12-01T22:25:00"
title: Contact
---

<script src="/rmarkdown-libs/header-attrs/header-attrs.js"></script>
<link href="/rmarkdown-libs/anchor-sections/anchor-sections.css" rel="stylesheet" />
<script src="/rmarkdown-libs/anchor-sections/anchor-sections.js"></script>


<p>Please, feel free to reach me at <a href="mailto:chinojoh@arizona.edu" class="email">chinojoh@arizona.edu</a></p>
