---
date: "2020-07-03T01:10:00"
title: Projects
---

<script src="/rmarkdown-libs/header-attrs/header-attrs.js"></script>


<div id="how-leaves-and-ecosystem-processes-are-changing" class="section level1">
<h1>How leaves and ecosystem processes are changing?</h1>
<p>Currently I am a postdoc at the <a href="https://brianjenquist.wordpress.com/">Enquist Lab</a> at The University of Arizona. I am developing new remote sensing approaches that leverage the long record of multispectral reflectance and be able to track long-term changes in community-level leaf traits anywhere in the world over the last 4 decades. The more I think about it, the more convinced I am that part of the future of ecological remote sensing may be hiding in all of the worldwide satellite observations taken in the past and re-learning to use it.</p>
<p>My aim right now is integrating remotely sensed plant trait information, with our state of the art knowledge in vegetation-radiation interactions, plant function and ecosystem processes, so we can actually monitor how the whole biosphere works and have worked over the last decades. Lets see where we can get. Expect some research updates soon!</p>
</div>
<div id="linkages-between-surface-reflectance-vegetation-traits-and-ecosystem-processes" class="section level1">
<h1>Linkages between surface reflectance, vegetation traits, and ecosystem processes</h1>
<p>I began my quest better integrate these three aspects during my postdoc at the <a href="https://faculty.sites.uci.edu/mgoulden/">Goulden Lab</a>. First, I tried to understand the biophysical and physiological mechanisms driving the relationship between Vegetation Indices and gross primary production (ecosystem photosynthesis).</p>
<p>Combining data from several biomes with proces-based models, I discovered that indices (e.g. EVI and NIR<sub>v</sub>) strongly sensitive to the amount of leaves and a trait correlated to leaf photosynthesis hold a strong and universal relationship to ecosystem photosynthesis. This trait is the Leaf Mass per Area, a key trait in plant ecology, slowly gaining attention from the flux, modeling and carbon cycle communities.</p>
<p>Learn more about this on our <strong><a href="https://doi.org/10.3390/rs12091405">paper at <em>Remote Sensing</em></a></strong>, and look for our ideas on how to design better indices to study ecosystem function from the space.</p>
<center>
<a href="../images/grassland_loma_ridge.JPG"><img src="../images/grassland_loma_ridge_small.JPG" style="width:19.0%" /></a>
<a href="../images/coastal_sage_loma_ridge.JPG"><img src="../images/coastal_sage_loma_ridge_small.JPG" style="width:19.0%" /></a>
<a href="../images/desert_boyd_deep_canyon.JPG"><img src="../images/desert_boyd_deep_canyon_small.JPG" style="width:19.0%" /></a>
<a href="../images/chaparral_pinyon_flat.JPG"><img src="../images/chaparral_pinyon_flat_small.JPG" style="width:19.0%" /></a>
<a href="../images/pinyonJuniper_pinyon_flat.JPG"><img src="../images/pinyonJuniper_pinyon_flat_small.JPG" style="width:19.0%" /></a>
</center>
<p>Then, I tied to assess how the boreal forest has been changing over the last decades by studying trends of remotely sensed vegetation indices. This research is providing some interesting findings:</p>
<ul>
<li>How to better map fires from surface reflectance data</li>
<li>New reinterpretations of the greening and browning trends of the boreal forests</li>
<li>New vegetation indices to monitor changes in plant traits from multispectral satellites</li>
</ul>
<center>
<a href="../images/boreal1.jpg"><img src="../images/boreal1_small.jpg" style="width:40.0%" /></a>
<a href="../images/boreal2.jpg"><img src="../images/boreal2_small.jpg" style="width:40.0%" /></a>
</center>
<p>These projects have left me a lot of ideas on how to integrate reflectance, traits and ecosystem processes to achieve a better understanding of how the biosphere works.</p>
</div>
<div id="ecosystem-consequences-of-changing-vegetation-in-the-sonoran-desert" class="section level1">
<h1>Ecosystem consequences of changing vegetation in the Sonoran Desert</h1>
<p>Cattle grazing is carried throught the Mexican part of the Sonoran Desert. In order to increase its grazin capacity, vast amounts of xeric shrublands have been proposefully converted to grasslands dominated by a highly productive African/Asian grass, the buffelgrass (<em>Cenchrus ciliaris</em> L.).</p>
<p>Using data from two adjacent eddy covariance towers, we (the Plant Ecophysiology Lab from Universidad de Sonora) studied how this change in vegetation may be impacting carbon and water fluxes. We found that:</p>
<ul>
<li>Shrubland and buffelgrass savanna sites can be significant carbon sinks</li>
<li>The change in vegetation may not alter net ecosystem production, but alters the seasonal and interannual dynamics due to phenological, physiological and morphological changes in the vegetation.</li>
<li>Our findings provide some new insights into mechanisms operating at grassland-shrubland transitions</li>
</ul>
<p>See our papers at <strong><a href="https://doi.org/10.1016/j.agrformet.2019.01.030"><em>Agricultural and Forest Meteorology</em></a></strong> and <strong><a href="https://doi.org/10.1016/j.rama.2016.04.002"><em>Rangeland Ecology and Management</em></a></strong>.</p>
</div>
