---
title: Undergraduate research opportunity ad
author: 'Cesar Hinojo Hinojo'
date: '2021-03-10'
slug: undegrad-ad-1
categories: [opportunities]
tags: [undergraduate, research, science]
excerpt: "Funded opportunity for undergraduate students from University of Arizona to conduct research. Please take a look at the ad below"
---

<script src="/rmarkdown-libs/header-attrs/header-attrs.js"></script>


<p><em>Funded opportunity for undergraduate students from University of Arizona to conduct research. Please take a look at the ad below.</em></p>
<div id="using-satellites-to-study-urban-and-natural-ecosystems-globally" class="section level1">
<h1>Using satellites to study urban and natural ecosystems globally</h1>
<p>University of Arizona - BBC Student Research Assistant (1 position)</p>
<div id="advertisement" class="section level2">
<h2>Advertisement</h2>
<p>Dr. Cesar Hinojo, postdoctoral researcher from the Department of Ecology and Evolutionary Biology, and Dr. Robbie Burger, postdoctoral research fellow in the Bridging Biodiversity and Conservation Science program, are seeking an undergraduate research assistant for projects studying how urban ecosystem processes scale with city size. In addition, we are interested in developing new techniques for studying how functional traits vary across time in cities globally. Land surface data gathered from satellites are a core part of these projects. Students will assist in compiling and analyzing large scale datasets, use models to inform the development of new techniques, and review literature. These efforts are aimed at unraveling fundamental properties of urban ecosystems and enabling a more continuous monitoring of biodiversity.</p>
<p>The ideal candidate will work well in teams and independently for 5-10 hours per week ($12/hour) including 1-2 hr/week group Zoom meetings. Undergraduate students must be currently (Spring 2021) registered for at least 6 credit hours. Prospective students should have a background in quantitative biology/ecology, computer/data science, geography, environmental or physical science. Also, must have experience with or desire to learn data management and programming skills using spreadsheets, R, Google Earth Engine, and GIS tools. Knowledge of macroecology, scaling, urban ecology, ecosystem production, biodiversity, plant functional traits, and/or land-radiation interactions as well as language (e.g., Spanish) are a plus. Students from underrepresented groups in science are particularly encouraged to apply.</p>
<p>Cesar and Robbie’s research spans carbon sequestration by ecosystems, global change, human ecology and biodiversity, from an ecophysiological and macroecological perspective. See Cesar’s website (<a href="https://hinojohinojo.gitlab.io" class="uri">https://hinojohinojo.gitlab.io</a>) and Robbie’s website (<a href="https://sites.google.com/site/josephrobertburguer/" class="uri">https://sites.google.com/site/josephrobertburguer/</a>) for more about their research and interests.</p>
<p>To apply, please email the following as a single-PDF to Cesar Hinojo (<a href="mailto:chinojoh@arizona.edu" class="email">chinojoh@arizona.edu</a>), with “Research assistant position” as a subject:</p>
<ol style="list-style-type: decimal">
<li>A brief (&lt;1/2 page) cover letter explaining your interest and qualifications for the position</li>
<li>CV/resume detailing relevant courses, research, work or volunteer experience</li>
<li>Names and contact (email and phone number) for 2 references</li>
</ol>
<p>Review of applications will begin immediately and continue until positions are filled.</p>
</div>
</div>
