---
title: Undergraduate research opportunity ad (updated)
author: 'Cesar Hinojo Hinojo'
date: '2021-06-15'
slug: undegrad-ad-2
categories: [opportunities]
tags: [undergraduate, research, science]
excerpt: "Funded opportunity for undergraduate students from University of Arizona to conduct research. Please take a look at the ad below"
---

<script src="/rmarkdown-libs/header-attrs/header-attrs.js"></script>


<p><em>Funded opportunity for undergraduate students from University of Arizona to conduct research. Please take a look at the ad below.</em></p>
<div id="using-large-datasets-and-satellites-to-study-urban-and-natural-ecosystems-globally" class="section level1">
<h1>Using large datasets and satellites to study urban and natural ecosystems globally</h1>
<p>University of Arizona - BBC Student Research Assistant (1 position)</p>
<div id="advertisement" class="section level2">
<h2>Advertisement</h2>
<p>Dr. Abu Kibria and Dr. Robbie Burger, postdoctoral research fellows in the Bridging Biodiversity and Conservation Science program, and Dr. Cesar Hinojo, postdoctoral researcher from the Department of Ecology and Evolutionary Biology, are seeking an undergraduate research assistant for projects studying how urban ecosystem processes scale with city size. In addition, we are interested in developing new techniques for studying how functional traits vary across time in cities globally. Global datasets on city properties and land surface data gathered from satellites are a core part of these projects. Students will assist in compiling and analyzing large scale datasets, use models to inform the development of new techniques, and review literature. These efforts are aimed at unraveling fundamental properties of urban ecosystems, enabling a more continuous monitoring of its biodiversity and processess, and may have policy implications.</p>
<p>The ideal candidate will work well in teams and independently for 5-20 hours per week ($12/hour) including 1-2 hr/week group Zoom meetings. Undergraduate students must be currently (Spring 2021) registered for at least 6 credit hours. Prospective students should have a background in quantitative biology/ecology, computer/data science, geography, environmental or physical science. Also, must have experience with or desire to learn data management and programming skills using spreadsheets, R, Google Earth Engine, and GIS tools. Knowledge of macroecology, scaling, urban ecology, ecosystem production, biodiversity, plant functional traits, and/or land-radiation interactions as well as other languages (e.g., Spanish) are a plus. Students from underrepresented groups in science are particularly encouraged to apply.</p>
<p>Cesar, Abu and Robbie’s research spans carbon sequestration by ecosystems, global change, human ecology, biodiversity, and coupled human-environment systems from an ecophysiological, macroecological and transdisciplinary perspective. See Cesar’s website (<a href="https://hinojohinojo.gitlab.io" class="uri">https://hinojohinojo.gitlab.io</a>), Abu’s website (<a href="https://researchgate.net/profile/Abu-Kibria-3" class="uri">https://researchgate.net/profile/Abu-Kibria-3</a>) Robbie’s website (<a href="https://sites.google.com/site/josephrobertburguer/" class="uri">https://sites.google.com/site/josephrobertburguer/</a>) for more about their research and interests.</p>
<p>To apply, please email the following as a single-PDF to Cesar Hinojo (<a href="mailto:chinojoh@arizona.edu" class="email">chinojoh@arizona.edu</a>), with “Research assistant position” as a subject:</p>
<ol style="list-style-type: decimal">
<li>A brief (&lt;1/2 page) cover letter explaining your interest and qualifications for the position</li>
<li>CV/resume detailing relevant courses, research, work or volunteer experience</li>
<li>Names and contact (email and phone number) for 2 references</li>
</ol>
<p>Review of applications will begin immediately and continue until positions are filled.</p>
</div>
</div>
